<ion-footer class="custom-footer">
  <ion-grid>
    <ion-row>
      <!-- Columna 1: Información de contacto -->
      <ion-col size="12" size-md="4">
        <p><strong>Teléfono</strong></p>
        <p><ion-icon name="call-outline"></ion-icon>+56964119955</p>
        <p><strong>Email</strong></p>
        <p><ion-icon name="mail-outline"></ion-icon>graphia&#64;gmail.com</p>
        <p><strong>Redes</strong></p>
        <p><ion-icon name="logo-instagram"></ion-icon>graph.ia</p>
      </ion-col>

      <!-- Columna 2: Atención al cliente -->
      <ion-col size="6" size-md="4">
        <p><strong>Atención al cliente</strong></p>
        <p>Mi cuenta</p>
        <p>Nosotros</p>
        <p>Preguntas Frecuentes</p>
        <p>Tiendas</p>
      </ion-col>

      <!-- Columna 3: Políticas -->
      <ion-col size="6" size-md="4">
        <p><strong>Políticas</strong></p>
        <p>Políticas de privacidad</p>
        <p>Trabaja con nosotros</p>
        <p>Compras mayoristas</p>
        <p>Devoluciones y reembolso</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>