
<app-header></app-header>

<ion-content class="ion-padding">

  
  <div class="login-container">
    <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>
    <h2 class="login-title">Inicio de Sesión</h2>

    <!-- Campo de nombre de usuario o correo -->
    <ion-item class="login-input">
      <ion-input type="text" placeholder="Nombre de usuario o correo"></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item class="login-input">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <!-- Botón de Login -->
    <ion-button expand="block" class="login-button">Log in</ion-button>

    <!-- Separador -->
    <div class="separator">o</div>

    <!-- Botón de Sign up -->
    <ion-button expand="block" class="signup-button">Sign up</ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>