<ion-content>
  <app-header></app-header>

  <div class="libretas-layout"> <aside class="filter-sidebar">
      <h3>Filtro</h3> <div class="filter-section" *ngFor="let filter of filters; let i = index">
        <div class="filter-item" *ngIf="filter.key !== 'precio' && filter.key !== 'rating'">
          <h4 (click)="toggleFilter(filter)">
            <ion-icon [name]="filter.open ? 'remove' : 'add'"></ion-icon>
            {{ filter.name }}
          </h4>
          <div class="filter-options" [class.open]="filter.open">
            <ng-container [ngSwitch]="filter.key">
              <ion-radio-group *ngSwitchCase="'hoja'" [(ngModel)]="filtroHoja" (ionChange)="aplicarFiltros()">
                <ion-item lines="none" *ngFor="let option of filterOptions.hoja">
                  <ion-label>{{ option }}</ion-label>
                  <ion-radio [value]="option"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-radio-group *ngSwitchCase="'tamaño'" [(ngModel)]="filtroTamano" (ionChange)="aplicarFiltros()">
                <ion-item lines="none" *ngFor="let option of filterOptions.tamaño">
                  <ion-label>{{ option }}</ion-label>
                  <ion-radio [value]="option"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-radio-group *ngSwitchCase="'color'" [(ngModel)]="filtroColor" (ionChange)="aplicarFiltros()">
                <ion-item lines="none" *ngFor="let option of filterOptions.color">
                  <ion-label>{{ option }}</ion-label>
                  <ion-radio [value]="option"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-radio-group *ngSwitchCase="'encuadernado'" [(ngModel)]="filtroEncuadernado" (ionChange)="aplicarFiltros()">
                <ion-item lines="none" *ngFor="let option of filterOptions.encuadernado">
                  <ion-label>{{ option }}</ion-label>
                  <ion-radio [value]="option"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-radio-group *ngSwitchCase="'marca'" [(ngModel)]="filtroMarca" (ionChange)="aplicarFiltros()">
                <ion-item lines="none" *ngFor="let option of filterOptions.marca">
                  <ion-label>{{ option }}</ion-label>
                  <ion-radio [value]="option"></ion-radio>
                </ion-item>
              </ion-radio-group>

            </ng-container>
          </div>
        </div>

        <div class="filter-item" *ngIf="filter.key === 'precio'">
          <h4 (click)="toggleFilter(filter)">
            <ion-icon [name]="filter.open ? 'remove' : 'add'"></ion-icon>
            {{ filter.name }}
          </h4>
          <div class="filter-options" [class.open]="filter.open">
            <div class="price-range">
              <ion-range dual-knobs="true" [min]="0" [max]="50000" [step]="1000"
                         [value]="{lower: filtroPrecioMin, upper: filtroPrecioMax}"
                         (ionChange)="onPriceRangeChange($event)">
                <ion-label slot="start">${{ 0 | number:'1.0-0' }}</ion-label>
                <ion-label slot="end">${{ 50000 | number:'1.0-0' }}</ion-label>
              </ion-range>
              <div class="price-range-display">
                <span>${{ filtroPrecioMin | number:'1.0-0' }}</span>
                <span>${{ filtroPrecioMax | number:'1.0-0' }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-item" *ngIf="filter.key === 'rating'">
          <h4 (click)="toggleFilter(filter)">
            <ion-icon [name]="filter.open ? 'remove' : 'add'"></ion-icon>
            {{ filter.name }}
          </h4>
          <div class="filter-options" [class.open]="filter.open">
            <ion-radio-group [(ngModel)]="filtroRating" (ionChange)="aplicarFiltros()">
              <ion-item lines="none" *ngFor="let r of [5, 4, 3, 2, 1]">
                <ion-label>
                  <div class="producto-rating">
                    <ng-container *ngFor="let star of [1,2,3,4,5]">
                      <ion-icon name="star" [style.color]="getStarColor(star, r)"></ion-icon>
                    </ng-container>
                  </div>
                </ion-label>
                <ion-radio [value]="r"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                  <ion-label>Todos</ion-label>
                  <ion-radio [value]="null"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </div>
      </div>

      <button class="limpiar-btn" (click)="limpiarFiltros()">Limpiar</button>

    </aside>

    <main class="products-grid"> <ion-card class="producto-card" *ngFor="let producto of productosFiltrados" (click)="verDetalle(producto)">
        <img [src]="producto.imagen" alt="Imagen producto" class="producto-img" />
        <div class="producto-details">
          <ion-card-title>{{ producto.nombre }}</ion-card-title>
          <div class="producto-rating">
            <ng-container *ngFor="let star of [1,2,3,4,5]">
              <ion-icon name="star" [style.color]="getStarColor(star, producto.rating || 0)">
              </ion-icon>
            </ng-container>
          </div>
          <p class="producto-precio">${{ producto.precio | number:'1.0-0' }}</p>
        </div>
      </ion-card>
      <div *ngIf="productosFiltrados.length === 0" class="no-products-message">
        No se encontraron productos con los filtros seleccionados.
      </div>
    </main>
  </div>

  <div class="paginacion" *ngIf="totalPaginas > 1">
    <button class="pagina-circulo" (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <button class="pagina-circulo"
            *ngFor="let p of [].constructor(totalPaginas); let i = index"
            [class.active]="i + 1 === paginaActual"
            (click)="paginaActual = i + 1; aplicarFiltros()">
      {{ i + 1 }}
    </button>
    <button class="pagina-circulo" (click)="cambiarPagina(1)" [disabled]="paginaActual === totalPaginas">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
  <br>
  <app-footer></app-footer>
</ion-content>