<swiper-container [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" [pagination]="false" class="custom-swiper" init="false">
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+1"></ion-img>
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+2"></ion-img>
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+3"></ion-img>
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+4"></ion-img>
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+5"></ion-img>
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card>
      <ion-img src="https://placehold.co/300x200?text=Producto+6"></ion-img>
    </ion-card>
  </swiper-slide>
</swiper-container>