<swiper-container [slidesPerView]="3" [spaceBetween]="10" [navigation]="true" [pagination]="false" class="custom-opinion-swiper custom-swiper" init="false">
  <swiper-slide>
    <ion-card>
      <ion-card-content>
        <div class="opinion-header">
          <img src="assets/Javiera.png" alt="Javiera" class="profile-img">
        <div>
          <div class="stars">⭐⭐⭐⭐⭐</div>
          <strong>Javiera, Artista</strong> 
        </div>
      </div>
        <p class="opinion-text">Excelente catálogo y páginas amigables con la vista</p> 
      </ion-card-content>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <ion-card-content>
        <div class="opinion-header">
          <img src="assets/ignacio.png" alt="Ignacio" class="profile-img">
        <div>
          <div class="stars">⭐⭐⭐⭐⭐</div>
          <strong>Ignacio, Estudiante</strong>
        </div>
      </div>
        <p class="opinion-text">Mucha variedad de productos, buenas marcas y rápido envío. Súper recomendado.</p> 
      </ion-card-content>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <ion-card-content>
        <div class="opinion-header">
          <img src="assets/magaly.png" alt="Magaly" class="profile-img">
        <div>
          <div class="stars">⭐⭐⭐</div>
          <strong>Magaly, Trabajadora</strong>
        
        </div>
      </div>
        <p class="opinion-text">Muy bonita la página, pero no tienen herramientas.</p> 
      </ion-card-content>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card>
      <ion-card-content>
        <div class="opinion-header">
          <img src="assets/sebastian.png" alt="Sebastian" class="profile-img">
        <div>
          <div class="stars">⭐⭐</div>
          <strong>Sebastian, Estilista</strong>
        </div>
      </div>
        <p class="opinion-text">No encontre elementos para el pelo</p> 
      </ion-card-content>
    </ion-card>
  </swiper-slide>
</swiper-container>