<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <strong>Graphia </strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="inicio">
      <ion-segment-button value="inicio">
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="categorias">
        <ion-label>categorias</ion-label>
      </ion-segment-button>
      <ion-segment-button value="marcas">
        <ion-label>Marcas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
   <!-- Banner oferta sillas -->

  <ion-img src="assets/img/descuento-sillas.png" style="border-radius: 10px; margin-bottom: 20px;"></ion-img>

   <!-- Carrusel -->

  <ion-slides [options]="{ slidesPerView: 1.2, spaceBetween: 10 }">
    <ion-slide>
      <ion-card>
        <ion-img src="https://placehold.co/300x200?text=Producto+1"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://placehold.co/300x200?text=Producto+2"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://placehold.co/300x200?text=Producto+3"></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
  

   <!-- Categoria productos -->

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-img src="assets/img/libreta.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Libretas</ion-card-title>
            <ion-card-subtitle>Arte</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-img src="assets/img/lapices.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Lapices</ion-card-title>
            <ion-card-subtitle>Sillas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-img src="assets/img/estuches.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Estuches</ion-card-title>
            <ion-card-subtitle>Oficina</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

   <!-- opiniones -->

   <ion-slides [options]="{ slidesPerView: 1.1, spaceBetween: 10 }">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          ⭐⭐⭐⭐⭐ <br>
          Excelente catálogo y páginas amigables con la vista
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          ⭐⭐⭐⭐⭐ <br>
          Muchos modelos buenos, muy fácil de usar.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          ⭐⭐⭐ <br>
          Bonita página, pero faltan herramientas.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

   <!--final de apgina-->
  <div style="margin-top: 30px; text-align: center; font-size: 0.9em;">
    <p>📞+56954119955 &nbsp; 📧 graphia&#64;gmail.com</p>
    <p>📍 Región Metropolitana - Graphia</p>
    <p>© 2025 Atención al cliente | Mi cuenta | Preguntas frecuentes | Devoluciones y reembolsos</p>
  </div>
</ion-content>