
<app-header></app-header>
<ion-content [fullscreen]="true">
  
  <!-- Banner oferta sillas -->
  <ion-img src="assets/descuento-sillas.png" class="banner-img">

  </ion-img>

  <!--linea para separar-->
  <div class="linea-separadora"></div>

  <!-- Carrusel de productos con Swiper -->
  <app-carrusel-productos></app-carrusel-productos>

  

  <!--linea para separar-->
  <div class="linea-separadora"></div>

  <!-- Categoria productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="category-card" >
          <ion-img src="assets/Libretas.png" routerLink="/libretas"></ion-img>
          <ion-card-header>
            <ion-card-title>Libretas</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="category-card">
          <ion-img src="assets/Lapices.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Lapices</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="category-card">
          <ion-img src="assets/Estuches.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Estuches</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="category-card">
          <ion-img src="assets/Arte.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Arte</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="category-card">
          <ion-img src="assets/Sillas.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Sillas</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="category-card">
          <ion-img src="assets/Oficina.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Oficina</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-button class="calificacion-button" fill="clear" routerLink="/calificacion">Calificanos!</ion-button>
  <!--linea para separar-->
  <div class="linea-separadora"></div>
 
  <!-- Opiniones con Swiper -->
  
  <app-carrusel-reviews></app-carrusel-reviews>

  
  
  <app-footer></app-footer>
  

</ion-content>



  

