<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Rectángulo centrado -->
  <div class="rectangle">
    <!-- Texto dentro del rectángulo -->
    <h2 class="rectangle-text">Registro</h2>
  </div>

  <h1 style="color: red; text-align: center;">¡Estás en la página de Registro!</h1>
</ion-content>

